/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
/tests/freertos/build/
/tests/pic32mk_rtos_demo/Release/
/tests/pic32mk_rtos_demo/.vscode/browse.vc.db
/tests/pic32mk_rtos_demo/.vscode/browse.vc.db-shm
/tests/pic32mk_rtos_demo/.vscode/browse.vc.db-wal
